.SearchEngine {
  margin-bottom: 20px;
}

.WeatherInfo {
  margin: 0;
}

.mainData {
  margin-top: 2px;
  padding-left: 4px;
}

.hourlyForecast {
  padding: 0px;
  margin: 0 auto;
}

.city {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.hour {
  font-weight: lighter;
  font-size: 30px;
}

.weather {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
}

.weather-conditions {
  font-weight: lighter;
  font-size: 1rem;
  font-weight: 400;
}

.weather-icon {
  margin: 20px;
}

#weather-description {
  text-transform: capitalize;
}

#unit {
  font-size: 30px;
  position: relative;
  top: -35px;
}

#unit a {
  color: gray;
  text-decoration: none;
}

#unit a:hover {
  color: whitesmoke;
  text-decoration: underline;
}
